<div class="home__container">
	<app-card
		gameCover="assets/crash.avif"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 179,50"
	>
	</app-card>
	<app-card
		gameCover="assets/fifa23.avif"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4 | PS5"
		gamePrice="R$ 159,99"
	>
	</app-card>
	<app-card
		gameCover="assets/sotc.webp"
		gameLabel="REMASTER"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 99,50"
		>
	</app-card>
	<app-card
		gameCover="assets/tlou1.png"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | PS3 | PS4 | PS5"
		gamePrice="R$ 99,50"
	>
	</app-card>
	<app-card
		gameCover="assets/uncharted.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | PS4 | PS5"
		gamePrice="R$ 99,90"
	>
	</app-card>
	<app-card
		gameCover="assets/dbzfighterz.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 249,90"
	>
	</app-card>
	<app-card
		gameCover="assets/gta5.webp"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS3 | PS4 | PS5"
		gamePrice="R$ 299,90"
	>
	</app-card>
	<app-card
		gameCover="assets/narutouns.webp"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS3 PS4"
		gamePrice="R$ 83,50"
	>
	</app-card>
</div>

